<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <!-- Note the new EJS syntax, the dash as opposed to an -->
                <!-- equal sign will run whatever is supplied -->
                <!-- Note that this adds a lot of problems, what if -->
                <!-- someone adds script tags to the HTML being submitted? -->
                <!-- We will fix this issue later on in the unit -->
                <p><%- blog.body %></p>
            </div>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>





<%- include("partials/footer") %>